<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="test" value="abc" />
	</appSettings>
	<connectionStrings>
		<add name="SqlServerConnectionString" connectionString="Data Source=localhost;Initial Catalog=test6;user=test;pwd=test" providerName="System.Data.SqlClient" />
		<add name="PostgresConnectionString" connectionString="Server=localhost;Port=5432;Database=test;CommandTimeout=120;User ID=postgres;Password=abc" providerName="Npgsql" />
		<add name="SqliteServerConnectionString" connectionString="Data Source=C:\mlog\lag3.db;journal_mode=WAL;synchronous=0;Flags=BindUInt32AsInt64;DateTimeKind=Utc;" providerName="System.Data.SQLite" />
		<add name="MLog_MCC_Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.100.70)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=Mlog;Password=Mlog;" providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>
</configuration>
